<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>HOME</title>
</head>

<body>
    <div class="main-container">
        <head>
            <div class="navigation-bar">
                <div class="logo">
                  <h2 class="logo-text">Engineering Built</h2> 
                </div>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul class="navigation-bar-lists">
                    <li class="lists"><a href="./index.html" class="home"><svg>
                        <use xlink:href='../public/images/sprite.svg#icon-home'></use>
                    </svg>HOME</a></li>
                    <li class="lists"><a href="#services" class="services"><svg>
                        <use xlink:href='../public/images/sprite.svg#icon-briefcase'></use>
                    </svg>SERVICES</a></li>
                    <li class="lists"><a href="#contact-form" class="contanct"><svg>
                        <use xlink:href='../public/images/sprite.svg#icon-gmail'></use>
                    </svg>CONTACT US</a></li>
                </ul>
            </div>
        </head>
        <div class="main-container-1">
            <div class="cover-image">
                <img src="../public/images/transformer-768x796.jpg" alt="transformer" class="image">
            </div>
            <div class="overRelay"></div>
            <div class="content">
                <h1 class="title">ENGINEERING <br>BUILT &#40;pty&#41; ltd</h1>
                <p class="little_about_us">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="button"><a href="#">SEE MORE</a></div>
            </div>
        </div>
        <div id="services">
         <div class="main-container-1" id="transformers">
            <div class="cover-image-1 ">
                <img src="../public/images/transformer.jpg" alt="transformer" class="image">
            </div>
            <div class="overRelay"></div>
            <div class="content">
                <h1 class="title">TRANSFORMERS</h1>
                <p class="little_about_us">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="button"><a href="#">SEE MORE</a></div>

            </div>
            <div class="tabs">
                <a href="#switchgears" class="tab">SWITCHGEARS</a>
                <a href="#relays" class="tab">RELAYS</a>
                <a href="#" class="tab">SOCIAL NETWORK</a>
            </div>
            </div>
        <div class="main-container-1" id="switchgears">
            <div class="cover-image-1 ">
                <img src="../public/images/SWITCHGEAR.jpg" alt="switchgear" class="image">
            </div>
            <div class="overRelay"></div>
            <div class="content">
                <h1 class="title">SWITCHGEARS</h1>
                <p class="little_about_us">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="button"><a href="#">SEE MORE</a></div>
            </div>
            <div class="tabs">
                <a href="#relays" class="tab">RELAYS</a>
                <a href="#transformers" class="tab">TRANSFORMERS</a>
                <a href="#" class="tab">SOCIAL NETWORK</a>
            </div>
        </div>
        <div class="main-container-1 " id="relays">
            <div class="cover-image-1 ">
                <img src="../public/images/relay-testing.jpg" alt="relay" class="image">
            </div>
            <div class="overRelay"></div>
            <div class="content">
                <h1 class="title">RELAYS</h1>
                <p class="little_about_us">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="button"><a href="#">SEE MORE</a></div>
            </div>
            <div class="tabs">
                <a href="#switchgears" class="tab">SWITCHGEARS</a>
                <a href="#transformers" class="tab">TRANSFORMERS</a>
                <a href="#" class="tab">SOCIAL NETWORK</a>
            </div>
        </div>
    </div>
    <div id="contact-form">
        <div class="main-container-1 " id="relays">
            <div class="cover-image-1 ">
                <h1 class="title">Enginering Built  </h1>
            </div>
            <div class="overRelay"></div>
            <div class="content form-content" >
                <form action="#" class="form">
                    <div class="inputs">
                        <div class="name">
                            <label for="name">NAME</label>
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="company">
                            <label for="comany name">COMPANY NAME</label>
                            <input type="text" placeholder="Company Name">
                        </div>
                    </div>
                    <label for="message">MESSAGE</label>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <div class="button"><a href="#">SUBMIT</a></div>
                </form>
            </div>
        </div>
         </div>
         <div class="footer">
            <div class="rights">&copy; ALL RIGHTS RESERVED 2021</div>
            <div class="footer-logo">
               Engineering Built
            </div>
            <div class="socilamedia">LinkedIn</div>
        </div>
    </div>
    <script src="../public/js/index.js"></script>
</body>

</html>